.dashboard-item{
	margin:10px;
	padding:10px;
	border:1px solid #666;
	width:48%;
	min-height:200px;
	float:left;
}

h2, h1{
	padding:10px;
}



.navigation{
	padding: 5px;
	li{ 
		display:inline-block;
	}
	a{
		text-transform: uppercase;
		padding:5px;
		color:#999;
		text-decoration: none;
		font-weight: bold;
	}
	.active{
		color:#000;
	}
}

.canvas-elem{
	height: 100px;
	width: 700px;
	background: #eee;
}


.animation-block{
	background: hotPink;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	width: 75px;
	height: 75px;
	display: inline-block;
	text-align: center;
	padding: 5px;
	margin: 5px;
	opacity: 1;
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
}


//These are applied when the element actually appears on the screen (or is removed)
/*.animation-block.ng-enter { }  */      /* starting animations for enter */
/*.animation-block.ng-enter.ng-enter-active { } *//* terminal animations for enter */
/*.animation-block.ng-leave { }  */      /* starting animations for leave */
/*.animation-block.ng-leave.ng-leave-active { }*/ /* terminal animations for leave */


.animation-block.anim-fade-out {

	opacity: 0;
}
 
/*.ng-enter.ng-enter-active {
	
}*/
.character-label{
	width: 75px;
	display: inline-block;
}
.character-label, .remove-character{
	position: relative;
	top: -14px;
}

.add-character{
	float: left;
}

.sliders{
 	padding: 5px;
}

svg, .sliders{
	float:left;
}

.input-item{
	padding: 10px
}

.input-item input{
	border: 1px solid;
	display: inline
}

.submit-character{

}