<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Learning angular</title>

		<!-- CSS -->
  	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" >

	</head>

	<body ng-app="Todo">

		<div class="page-container" ng-controller="TodoCtrl">
      
      <h2>Todo</h2>
      
      <ul class="todo-list" ng-repeat="todo in todos track by $index">
        <li>
          <span>{{todo}}</span>
          <button class="bt bt-achieve" ng-click="done(todo)">Done</button>
        </li>
     
      </ul>
      
      <ul class="add-todo">
		    <li>
		      <input type="text" class="txt" placeholder="New Todo"
		             ng-model="newTodo" ng-keyup="add($event)" />
		    </li>
		  </ul>
      
    </div>

			
		<script src="angular.min.js"></script>
		<script src="app.js"></script>
	
		
	</body>			
</html>
